- if !@config.new_reply_header.blank?
  = simple_format @config.new_reply_header
  %p= '------------------------------------------------------'
%h3 Ticket: ##{@ticket.numbered_title}
= simple_format auto_link(@comment.content)
- if !@config.email_footer.blank?
  %p= '------------------------------------------------------'
  = simple_format auto_link(@config.email_footer)